@model QLSV.Models.DangKy

@{
    ViewData["Title"] = "Index";
    ViewData["Heading"] = "Đăng ký";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "QLSV";
    ViewData["BreadcrumbTwo"] = "Đăng ký";
    ViewData["BreadcrumbThree"] = "Danh sách đăng ký";
    ViewData["BoxTitle"] = "Danh sách đăng ký";
    ViewData["Search"] = "Tìm học phần";
    Layout = "_CreateLayout";
}
<div class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Mahp" />
    <input type="hidden" asp-for="Mssv" />
    <div class="row text-center">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Mahp" class="col-md-4 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="Mahp" class="form-control" />
                    <span asp-validation-for="Mahp" class="text-danger"></span>
                </div>
            </div>
          </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Mssv" class="col-md-4 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="Mssv" class="form-control" />
                    <span asp-validation-for="Mssv" class="text-danger"></span>
                </div>
            </div>
        </div>
        </div>
</div>

