@model QLSV.Models.HocPhan

@{
    ViewData["Title"] = "Chỉnh sửa";
    ViewData["Heading"] = "Học phần";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "QLSV";
    ViewData["BreadcrumbTwo"] = "Học phần";
    ViewData["BreadcrumbThree"] = "Chỉnh sửa học phần";
    ViewData["BoxTitle"] = "Chỉnh sửa học phần";
    ViewData["Search"] = "Tìm học phần";
    Layout = "_EditLayout";
}
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Mahp" />
        <div class="form-group">
            <label asp-for="Tenmon" class="col-md-2 control-label"></label>
            <div class="col-md-9">
                <input asp-for="Tenmon" class="form-control" />
                <span asp-validation-for="Tenmon" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Siso" class="col-md-2 control-label"></label>
            <div class="col-md-9">
                <input asp-for="Siso" class="form-control" />
                <span asp-validation-for="Siso" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phonghoc" class="col-md-2 control-label"></label>
            <div class="col-md-9">
                <input asp-for="Phonghoc" class="form-control" />
                <span asp-validation-for="Phonghoc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tiethoc" class="col-md-2 control-label"></label>
            <div class="col-md-9">
                <input asp-for="Tiethoc" class="form-control" />
                <span asp-validation-for="Tiethoc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Thu" class="col-md-2 control-label"></label>
            <div class="col-md-9">
                <input asp-for="Thu" class="form-control" />
                <span asp-validation-for="Thu" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ngaybd" class="col-md-2 control-label"></label>
            <div class="col-md-9">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input asp-for="Ngaybd" type="text" class="form-control pull-right datepicker">
                    <span asp-validation-for="Ngaybd" class="text-danger"></span>
                </div>
                <!-- /.input group -->
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ngaykt" class="col-md-2 control-label"></label>
            <div class="col-md-9">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input asp-for="Ngaykt" type="text" class="form-control pull-right datepicker">
                    <span asp-validation-for="Ngaykt" class="text-danger"></span>
                </div>
                <!-- /.input group -->
            </div>
        </div>
    </div>
