@{ 
    Layout = "_TableIndexLayout";
}
<form asp-action="Create">
    <div class="box-body">
       @RenderBody()
    </div>
    <div class="box-footer">
        <a class="btn btn-default" asp-action="Index">Quay lai</a>
        <input type="submit" value="Tạo" class="btn btn-info pull-right">
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}