@{
    Layout = "_TableIndexLayout";
}
<form asp-action="Edit">
    <div class="box-body">

        @RenderBody()
    </div>
    <div class="box-footer">
        <a class="btn btn-default" asp-action="Index">Quay lai</a>
        <input type="submit" value="Edit" class="btn btn-warning pull-right">
    </div>
</form>


